<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Extract Email Addresses</title>
</head>
<body>
<div>
	<div>
		<h3>Email Address Extractor</h3>
		<div>
			Email Address Extractor (written in Scala) test version (v 0.0.1). -Created by <a href="http://lckymn.com" target="_blank">Kevin</a>
		</div>
	</div>
	<br /><c:if test="${not empty(message)}">
	<div style="margin: 10px; color: red; font-weight: bolder;">
		${message }
	</div>
	</c:if>
	<div>
		<form action="${pageContext.request.contextPath }/extract" method="post" name="emailExtractorForm">
			<div>
				<label>Please enter text from which you want to extract email addresses.</label>
			</div>
			<div>
				<textarea name="inputValue" style="width: 80%; height: 400px;"><c:if test="${not empty(inputValue)}">${inputValue }</c:if></textarea>
			</div>
			<div><input type="hidden" name="action" value="extract" />
				<input type="submit" name="submitButton" value="   Submit   " style="margin-top: 10px;" /> 
				<a href="${pageContext.request.contextPath }/clear" style="margin-left: 20px; margin-top: 10px;">Clear</a> 
			</div>
		</form>
	</div>
</div>
<br />
<div>
<div>
<label>Result: </label>
</div>
<br />
<c:if test="${not empty resultMessage}"><div>${resultMessage }</div><c:remove var="resultMessage" scope="page" /></c:if>
<div>
<textarea readonly  style="width: 80%; height: 400px;"><c:if test="${not empty(result)}">${result }</c:if></textarea>
</div>
</div>
</body>
</html>