@(version: String)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Extract Email Addresses</title>
    @include.allCss()
  </head>
  <body>
    <div id="wrap">
      <div class="container">
        <div class="row">
          <div class="col-sm-24 col-md-12">
            <h3><a href="@{routes.Application.index}">Email Address Extractor</a></h3>
            <div>
              <p>
                Email Address Extractor (written in Scala) test version (v @version). -Created by <a href="http://lckymn.com" target="_blank">Kevin</a>
              </p>
              <p>
                <a href="https://github.com/Kevin-Lee/email-extractor-scala" target="_blank">Source code is available here.</a>
              </p>
            </div>
            <div class="alert alert-danger hidden" id="message"></div>
          </div><!-- /.col -->
        </div><!-- /.row -->
        <br />
        <div class="row">
          <div class="col-sm-24 col-md-12">
            <div>
              <label>Please enter text from which you want to extract email addresses.</label>
            </div>
            <div>
              <textarea id="inputText" class="form-control margin-top-and-bottom" rows="12" placeholder="Put some text may or may not contain email addresses here."></textarea>
            </div>
            <div>
              <button type="button" name="submitButton" id="submitButton" class="btn btn-primary">Submit</button>
              <button id="clearButton" type="button" class="btn btn-danger">Clear</button>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
        <br />
        <div class="row">
          <div class="col-sm-24 col-md-12">
            <div>
              <label>Result: </label>
            </div>
            <div id="resultMessage" class="alert hidden"></div>
            <div>
              <textarea id="resultArea" readonly class="form-control margin-top-and-bottom" rows="12"></textarea>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div> <!-- /.container -->
      <div id="messageBox"></div>
    </div><!-- /.wrap -->
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">This is an example application built using Scala and Play framework 2.</p>
      </div>
    </div><!-- /.footer -->
    @include.allJs()
  </body>
</html>